<div class = search-back>
  <%= form_tag(search_posts_path, method: :get, local: true, class: "search-form") do %>
    <%= text_field_tag :keyword, "", placeholder: "投稿を検索する", class: "search-input" %>
    <%= submit_tag "検索", class: "search-btn" %>
  <% end %>
</div>
<div class = jouhou>
  <div class = sub-function>
    <button class = botan2>
      <%= link_to 'TOPページ', root_path %>
    </button>
    <button class = botan3>
      検索を開く<br>（都道府県）
    </button>
    <button class = botan4>
      検索を閉じる<br>（都道府県）
    </button>
  </div>
  <div class = messages2>
    <% @posts.each do |post| %>
      <div class = message2>
        <%= link_to '', post_path(post) %>
        <div class = message-area2>
          <%= post.area %>
        </div>
        <div class = message-user2>
          <%= post.user.name %>
        </div>
        <div class = message-date2>
          <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
        </div>
        <div class = message-title2>
          <%= post.title %>
        </div>
        <div class = message-image2>
          <%= image_tag post.image.url if post.image.present? %>
        </div>
        <div class = message-content2>
          <%= post.content %>
        </div>
      </div>
    <% end %>
  </div>
  <div class = dougas>
    <div class = douga>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/knx2unYsuTQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/C9pMxx3fKIM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/W-ysu-7obF4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/86LFsxIF9a4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
